<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About us{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <div class="switch" id="switch">
        <button class="dark-mode-toggle dark-mode-toggle-light" id="darkModeToggle" onclick="moveRound()"></button>

        
    </div>

    {% if session.get("username") %}
        <div class="navBtn" style="color: white; border-radius: 10px; position: absolute;left: 89%;">Logged in as: {{ session.username }}</div>
    {% endif %}
    <main style="padding: 10px; margin-left: auto;margin-right: auto; display: flex; height: 100vh;">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if session.get("username") %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="aboutUsPage" style="width: 55%; padding: 15px;">
            <h2>About Us</h2>
            <p>Welcome to Utility Base, a multifunctional tool website designed to simplify your everyday digital tasks. Our platform offers a variety of utilities, including Base64 encoding and decoding, URL encoding and decoding, JSON minification and beautification, URL shortening, and QR code generation.</p>
            <h2>Our Story</h2>
            <p>Utility Base is a project born out of our passion for technology and our desire to create something practical and beneficial for users worldwide. We are a team of three enthusiastic first-year students from BTU University:</p>
            <div style="width: 32%;">
                <div style="display: flex;justify-content: space-between; align-items: center; "><h4>Luka Chakvetadze</h4><a style="text-decoration: none; display: flex; align-items: center;" href="https://github.com/Lukeepera"><img style="width: 29px; height: 29px;" src="/static/css/images/github.png" alt=""></a> </div>
                <div style="display: flex;justify-content: space-between; align-items: center;"><h4>Nika Karseladze</h4> <a style="text-decoration: none;display: flex; align-items: center;"  href="https://github.com/KarseladzeBTU"><img style="width: 29px; height: 29px;" src="/static/css/images/github.png" alt=""></a> </div>
                <div style="display: flex;justify-content: space-between; align-items: center;"><h4>Likuna Bolghashvili</h4> <a style="text-decoration: none;display: flex; align-items: center;"  href="https://github.com/likunnabb"><img style="width: 29px; height: 29px;" src="/static/css/images/github.png" alt=""></a> </div>
            </div>
            <p>As students of BTU (Business and Technology University) , we are always looking for ways to apply our learning in real-world scenarios. This project is a testament to our commitment to learning, innovation, and teamwork. We combined our skills and knowledge to develop a platform that addresses common digital needs in a user-friendly way.</p>
            <h2>Our Mission</h2>
            <p>Our mission was to provide a reliable, easy-to-use toolkit for everyone, from tech enthusiasts to professionals who need quick and efficient solutions for their everyday tasks. We aim to continually improve and expand our services to meet the evolving needs of our users. Our site is still far from perfect, but we are eager to continue working on it!</p>
            <h2>Contact Us</h2>
            <p>We value your feedback and suggestions. If you have any questions, comments, or ideas on how we can improve, please feel free to reach out to us.</p>
            <br>
            <p>Contact - <b>feedback.utilitybase@gmail.com</b></p>
            <br>
            <p>Thank you for visiting Utility Base. We hope our tools make your tasks easier and more efficient.</p>
        </div>
        {% block content %}{% endblock %}
        <nav>
            <div class="navigationDiv">
                {% if not session.get("username") %}
                <a href="{{ url_for('login') }}">
                    <div class="navBtn">Login<img style="width: 15px; height: 15px;" src="/static/css/images/external-link.png" alt=""></div>
                </a>
                <a href="{{ url_for('index') }}">
                    <div class="navBtn">Home <img style="width: 15px; height: 15px;" src="/static/css/images/home.png" alt=""></div>
                </a>
                {% else %}
                     <a href="{{ url_for('index') }}">
                    <div class="navBtn">Home <img style="width: 15px; height: 15px;" src="/static/css/images/home.png" alt=""></div>
                </a>
                
                <a href="{{ url_for('base64_page') }}">
                    <div class="navBtn">Base64 encoder<img style="width: 15px; height: 15px;" src="/static/css/images/base64.png" alt=""></div>
                </a>
                <a href="{{ url_for('url_page') }}">
                    <div class="navBtn">URL encoder<img style="width: 15px; height: 15px;" src="/static/css/images/external-link.png" alt=""></div>
                </a>
                <a href="{{ url_for('json_page') }}">
                    <div class="navBtn">JSON manager<img style="width: 15px; height: 15px;" src="/static/css/images/bracket-curly.png" alt=""></div>
                </a>
                <a href="{{ url_for('qr_page') }}">
                    <div class="navBtn">QR Code generator<img style="width: 13px; height: 13px;" src="/static/css/images/qr-code.png" alt=""></div>
                </a>
                <a href="{{ url_for('link_shortener') }}">
                    <div class="navBtn">Link Shortener <img style="width: 13px; height: 13px;" src="/static/css/images/url.png" alt=""></div>
                </a>
                {% endif %}
            </div>
            <div>
                {% if session.get("username") %}
                <a href="{{ url_for('logout') }}">
                    <div class="aboutUs" style="margin-bottom: 10px;">Log out<img style="width: 15px; height: 15px;" src="/static/css/images/external-link.png" alt=""></div>
                </a>
                {% endif %}
                <a href="{{ url_for('about_us') }}">
                    <div class="aboutUs">About Us<img style="width: 13px; height: 13px;" src="/static/css/images/info.png" alt=""></div>
                </a>
            </div>
        </nav>
    </main>
</body>
</html>
