{% extends "base.html" %}

{% block title %}JSON{% endblock %}

{% block content %}
<div class="mainCont">
    <div class="container">
        <h1 class="headP">JSON Minifier/Beautifier</h1>
        <form method="POST" enctype="multipart/form-data">
            <div>
                <label class="inputLabel" for="input_text">Input:</label>
                <textarea id="input_text" name="input_text" rows="4" cols="50">{{ input_text }}</textarea>
            </div>
            <div style="margin-bottom: 10px;">
                <label class="inputLabel" for="file">Upload File:</label>
                <input style="margin-left:14%;" type="file" id="file" name="file">
            </div>
            <div>
                <button type="submit" name="action" value="Minify">Minify</button>
                <button type="submit" name="action" value="Beautify">Beautify</button>
            </div>
        </form>
    </div>
    <div class="encodedTextDiv">
        {% if output_text %}
            <a href="{{ url_for('download_file', filename=output_filename) }}" class="downloadBtn"><button>Download Result</button></a>
        {% if action == "Minify" %}
            <p>Minified text:</p>
            {% else: %}
            <p>Beautified text</p>
            {% endif %}
        <textarea rows="4" cols="50" style="width: 96%;min-height: 70%;">{{ output_text }}</textarea>
        {% endif %}
    </div>
</div>
{% endblock %}
