{% extends "base.html" %}

{% block title %}QR Code Generator{% endblock %}

{% block content %}
<div class="mainCont">
    <div class="container">
        <h1 class="headP">QR Code Generator</h1>
        <form method="POST" action="{{ url_for('qr_page') }}">
            <div>
                <label for="text">Text:</label>
                <textarea id="text" name="text" rows="4" cols="50"></textarea>
            </div>
            <div class="qrCodeColors">
                <div class="fillColor">
                    <label for="fill">Fill Color:</label>
                    <input type="color" id="fill" name="fill" value="#000000">
                </div>
                <div>
                    <button class="qrBtn" type="submit">Generate QR Code</button>
                </div>
                <div class="backgroundColor">
                    <label for="back_color">Background Color:</label>
                    <input type="color" id="back_color" name="back_color" value="#ffffff">
                </div>
            </div>
        </form>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
    <div class="qrCodeDiv">
        {% if qr_image %}
        <img src="data:image/jpeg;base64,{{ qr_image }}" alt="QR Code">
        {% endif %}
    </div>
</div>
{% endblock %}
