{% extends "base.html" %}

{% block title %}URL{% endblock %}

{% block content %}
<div class="mainCont">
    <div class="container">
        <h1 class="headP" style="margin-left: auto; margin-right: auto;">URL Encoder/Decoder</h1>
        <form method="POST">
            <div>
                 <label class="inputLabel" for="input_text">Input:</label>
                 <textarea id="input_text" name="input_text" rows="4" cols="50">{{ input_text }}</textarea>
            </div>
            <div>
                <button type="submit" name="action" value="Encode">Encode</button>
                <button type="submit" name="action" value="Decode">Decode</button>
            </div>
        </form>
       
    </div>
    <div class="encodedTextDiv">
        {% if output_text %}
        <h4>{{ action }}d Text:</h4>
        
            <p>{{ output_text }}</p>
        
       {% endif %}
    </div>
    
</div>
{% endblock %}

